.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.card {
    height: 15rem;
    width: 49rem;
}
 body {
    background-color: cadetblue;
 }

.card-body, .card {
    background-color: aquamarine;
    border-style: double;
    border-width: 5px;
    border-radius: 15px;
}

.posted-score {
    background-color: rgb(66, 142, 229);
    color: white;
    border-radius: 10px;
    width: 75px;
    display: flex;
    justify-content: center;
}

#result {
    height: 60px;
    display: flex;
    align-items: center;
}

#time {
    height:24px;
}

#start, .button-choice, #submitButton, #startOver  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: rgb(66, 142, 229);
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
}

#resetScore {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: rgb(229, 85, 66);
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
}

#question, #possibleAnswers, #correctAnswer  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

